.ticketWrapper{
    position: relative;
    width: 100%;
    background-color: #fff;
}
.profileTop{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.649);
}
.profileImg{
  width: 50px;
  height: 50px;
}
.profileImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profileName{
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.ticketContent{
    border-bottom: 1px solid rgba(128, 128, 128, 0.649);
}
.ticketTime{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 14px;
    opacity: .8;
}
.ticketText{
    font-size: 16px;
    padding: 10px;
}
.ticketLikes{
    display: flex;
    gap: 5px;
    padding: 10px;
    justify-content: flex-start;
}
.ticketLikes svg{
    padding: 5px;
    border-radius: 50%;
    background-color: #fd7500;
}
.ticketShareAndLike{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.ticketLike,
.ticketShare{
    cursor: pointer;
}
@media(max-width:576px){
    .profileTop h1{
        font-size: 14px;
    }
    .profileTop span{
        font-size: 10px;
    }
    .ticketTime{
        top: -12px;
        font-size: 12px;
    }
    .ticketText{
        font-size: 15px;
    }
}
